# ========== LiveFuel Project GitIgnore ==========

# 🚫 Fichiers Python compilés / caches
__pycache__/
*.py[cod]
*.py,cover
*$py.class

# 📦 Environnements virtuels
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# 🔍 Cache de tests / outils
.pytest_cache/
.mypy_cache/
.dmypy.json
.ruff_cache/
.cache
.hypothesis/

# 📓 Jupyter
.ipynb_checkpoints/

# 📁 Fichiers temporaires ou intermédiaires
*.log
*.txt
*.xml
*.png
cron_log.txt
prix_carburants_temp.txt
prix_carburants.xml

# 🔐 Fichiers sensibles
app-key.pem # je l'ai finalement enlevé

# 📦 Infos d’installation / build Python
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# ⚙️ Config éditeurs
.ropeproject/
.spyderproject/
.spyproject/
.pdm.toml
.idea/

# 📄 Documentation
docs/_build/
site/
